:root {
    --text_bg_image: url('/images/redweb.gif');
    --body-bg-image: url('/images/cats/zed/MoonBG.gif');

    /* colors */
    --space0: #ffaf76; /* Links */
    --space1: skyblue; /* Headings */
    --space2: springgreen; /* Box Border */
    --space3: #c35515;
    --space4: #dd7a00;
    --space5: #ba4100;
    --space6: #1a1a1a; /* Box Background */
    --space7: #080808; 

}

/* FONTS */
@font-face {
    font-family: "Arcade";
    src: url('/style/fonts/JMH\ Cthulhumbus\ Arcade.otf') format("opentype");
}

body {
    font-family: 'Arcade';
    margin: 0;
    background-color: var(--space7);
    background-size: auto;
    color: black;
    background-image: var(--body-bg-image);
}

* {
    box-sizing: border-box;
}

#container {
    max-width: 60%;
    margin: 0 auto;
}

/* Links */
#container a {
    color: violet;
    font-weight: bold;
}

#container a:hover {
    color: skyblue;
}

#flex {
    display: flex;
}

#flexgallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: center;
}

/* Sidebar */
aside {
    /* background-image: var(--text_bg_image);*/
    width: 35%;
    padding: 10px;
    font-size: small;
    margin-top: 20px;
    color: white;
}

/* Main content */
main {
    /*background-color: var(--space4);*/
    /*background-image: var(--text_bg_image);*/
    flex: 1;
    padding: 20px;
    order: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: x-large;
}

#leftSidebar {
    order: 3;
}

#rightSidebar {
    order: 1;
}

/* Headings */
h1,
h2,
h3 {
    color: var(--space2);
}

h1 {
    font-size: 25px;
}

strong {
    color: black;
}

/* Text box */
.box {
    background-color: var(--space7);
    border: 3px solid pink;
    padding: 10px;
    border-radius: 10px;
}

.jinxbox {
    border: 10px solid var(--space7);
    padding: 10px;
    position: sticky;
    top: 20px;
    border-radius: 10px;
    background: linear-gradient(45deg, skyblue, springgreen, pink);
    color: black;
}

/* Top Bar */
#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: var(--space6);
}


/* Mobile Displays */

@media only screen and (max-width: 1000px) {
    #flex {
        flex-direction: column;
    }
    #container {
        max-width: 100%;
        margin: 10px;
    }
    aside {
        width: 100%;
    }

    main {
        order: 1;
    }

    #leftSidebar {
        order: 3;
    }

    #rightSidebar {
        order: 2;
    }
    #navbar {
        text-align: center;
    }
    #navbar ul {
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style-image: none;
    }
    #navbar ul > ul {
        display: none;
    }
    aside {
        margin-left: 0px;
        margin-bottom: 70px;
        display: flex;
        justify-content: space-around;
    }

    .jinxbox {
        max-width: 350px;
    }
}