<div class="navbox">
    <h2 style="margin: 0;">Navigation</h2>
    <nav id="navbar" style="margin-bottom: 10px;">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/p/research/">Research</a></li>
            <li><a href="/p/teaching/">Teaching</a></li>
            <li><a href="/p/blog/">Blog</a></li>
            <li><a href="/p/fun/">Fun</a></li>
            <ul style="padding-left:20px; padding-top: 0px; padding-bottom: 0px;">
                <li><a href="/p/fun/books/">Books</a></li>
                <li><a href="/p/fun/cats/">Cats</a></li>
                <li><a href="/p/fun/faith/">Faith</a></li>
                <li><a href="/p/fun/links/">Links</a></li>
                <li><a href="/p/fun/music/">Music</a></li>
                <li><a href="/p/fun/photos/">Photos</a></li>
                <li><a href="/p/fun/toys/">Toys</a></li>
                <li><a href="/p/fun/games/">Video Games</a></li>
            </ul> 
            <li><a href="/p/about/">About</a></li>
        </ul>
    </nav>
</div>